<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Update book!</h3>
        </div>
        <div class="modal-body">
          <p>
              <label>Title:</label>
              <form name="bookTitle">
                  <div class="form-group" ng-class="{'has-error bg-danger': bookTitle.title.$invalid}">
                      <input type="text" class="form-control" name="title" ng-required="true" data-ng-model="data.selectedBook.title" />
                  </div>
              </form>
          </p>
          <p>
              <label>Author:</label>
              <form name="bookAuthor">
                  <div class="form-group" ng-class="{'has-error bg-danger': bookAuthor.author.$invalid}">
                      <input type="text" class="form-control" name="author" ng-required="true" data-ng-model="data.selectedBook.author" />
                  </div>
              </form>
          </p>
          <p>
              <label>Genre:</label>
              <form name="bookGenre">
                  <div class="form-group" ng-class="{'has-error bg-danger': bookGenre.genre.$invalid}">
                      <input type="text" class="form-control" name="genre" ng-required="true" data-ng-model="data.selectedBook.genre" />
                  </div>
              </form>
          </p>
          <p>
              <label>Year:</label>
              <form name="bookYear">
                  <div class="form-group" ng-class="{'has-error bg-danger': bookYear.year.$invalid}">
                      <input type="text" class="form-control" name="year" ng-required="true" data-ng-model="data.selectedBook.year" />
                  </div>
              </form>
          </p>
        </div>
        <div class="modal-footer ">
            <button type="submit" class="btn btn-primary" data-ng-click="update()">Submit</button>
            <button class="btn btn-primary" data-ng-click="close()">Close</button>
        </div>
    </div>
</body>

</html>
<!-- <div>
        <form>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Add book</h4>
                        </div>
                        <div class="modal-body">

                            Title: <input type="text" data-ng-model="title"><br> Author: <input type="text" data-ng-model="author"><br> Genre: <input type="text" data-ng-model="genre"><br> Year: <input type="text" data-ng-model="year"><br>



                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" data-ng-click="addBook(title,author,genre)">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div> -->
